@import "./config";

body {
  background: $background-color;
  min-height: 150vh;
  width: 100vw;
}

.login-form {
  border: 4px solid rgb(56, 2, 56);
  height: 50rem;
  width: 35rem;
  margin-left: 46rem;
  margin-top: 8rem;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.5rem;
  //border-top-left-radius: 1rem;

  .form-label {
    @include font-family;
    //padding-inline: 3rem;
    margin-inline: 2rem;
    margin-top: 4rem;
    font-size: 15px;
  }
  .form-control {
    @include font-family;
    //padding-inline: 3rem;
    margin-inline: 2rem;
    margin-top: 1rem;
    width: 30rem;
  }
  .form-check-label {
    @include font-family;
    padding-inline: 1rem;
    margin-inline: 1rem;
    margin-top: 1.5rem;
    font-size: 15px;
  }
  .form-check-input {
    padding-inline: 0.5rem;

    margin-left: 1rem;
    margin-top: 2rem;
  }
  .logo-img {
    margin-inline: 20rem;
    max-width: 10rem;
    margin-top: 1rem;
    margin-left: 12rem;
  }
  h3 {
    @include font-family;
    font-size: 15px;
    margin-left: 11rem;
    margin-top: 0.5rem;
  }
  .sign {
    @include font-family;
    //margin-top: 7rem;
    font-size: 12px;
    margin-left: 5px;
  }
  .btn {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 7rem;
    margin-top: 1.5rem;
    // margin: 5px;

    background-color: #2e74be;
    color: #fff;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    // margin-top: 3rem;
    // margin-left: 5rem;
  }
}
